#ajaxLoader {
  background: url(ajax-loader.gif) no-repeat center center;
  position: relative;
  height: 40px;
  width: 100%;
  top: 100;
  left: 0;
}
select#types {
  margin-left: 6px;
  text-transform: capitalize;
}

